In [54]:
# Import the dependencies.
import pandas as pd
import gmaps
import gmaps.datasets
import requests
import json
# Import the API key.
from config2 import gkey

In [8]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Peleduy,59.6289,112.7406,78.15,27,91,14.63,RU,2021-08-01 05:10:44
1,1,Bluff,-46.6000,168.3333,48.79,91,93,2.30,NZ,2021-08-01 05:10:44
2,2,Hermanus,-34.4187,19.2345,54.81,84,62,9.62,ZA,2021-08-01 05:10:45
3,3,Olinda,-8.0089,-34.8553,74.93,78,75,19.57,BR,2021-08-01 05:07:58
4,4,Pevek,69.7008,170.3133,35.98,80,93,23.44,RU,2021-08-01 05:10:45

In [32]:
new_city_data_df = city_data_df[["City", "Country", "Date", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed"]]
new_city_data_df.dtypes

City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [10]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=gkey)

In [11]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [33]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = new_city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = new_city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Heatmap of percent humidity
locations = new_city_data_df[["Lat", "Lng"]]
humidity = new_city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent Cloudiness 
locations = new_city_data_df[["Lat", "Lng"]]
cloudiness = new_city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent of Wind Speed 
locations = new_city_data_df[["Lat", "Lng"]]
wind_speed = new_city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=200, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = new_city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,Peleduy,RU,2021-08-01 05:10:44,59.6289,112.7406,78.15,27,91,14.63
8,Xiongyue,CN,2021-08-01 05:10:47,40.1774,122.1228,78.28,83,95,3.87
11,College,US,2021-08-01 05:10:48,64.8569,-147.8028,76.95,46,75,3.44
13,Aswan,EG,2021-08-01 05:10:48,24.0934,32.9070,92.80,16,85,3.31
14,Agadez,NE,2021-08-01 05:10:48,19.7500,10.2500,85.24,15,41,7.29
16,Osmanabad,IN,2021-08-01 05:10:49,18.1667,76.0500,77.92,68,100,19.46
21,Butaritari,KI,2021-08-01 05:10:50,3.0707,172.7902,82.62,71,15,8.25
23,Iranshahr,IR,2021-08-01 05:10:51,27.2025,60.6848,98.42,28,6,6.38
25,Vanimo,PG,2021-08-01 05:10:52,-2.6741,141.3028,83.86,75,21,7.11
29,Nabire,ID,2021-08-01 05:10:53,-3.3667,135.4833,85.91,69,75,5.19

In [40]:
pr_list = preferred_cities_df.loc[preferred_cities_df.Country == "PR"]
pr_list

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
443,Aguadilla,PR,2021-08-01 05:13:00,18.4275,-67.1541,81.45,90,1,5.75

In [44]:
# Check for any missing values or Nulls
preferred_cities_df.count()

City          200
Country       200
Date          200
Lat           200
Lng           200
Max Temp      200
Humidity      200
Cloudiness    200
Wind Speed    200
dtype: int64

In [48]:
# Create a DataFrame that will store the Hotel along with "City", "Country", "Max Temp", "Lat", "Lng"
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]]
hotel_df["Hotel Name"] = ""
hotel_df.head()

C:\Users\joszp\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

        City Country  Max Temp      Lat       Lng Hotel Name
0    Peleduy      RU     78.15  59.6289  112.7406
8   Xiongyue      CN     78.28  40.1774  122.1228
11   College      US     76.95  64.8569 -147.8028
13     Aswan      EG     92.80  24.0934   32.9070
14    Agadez      NE     85.24  19.7500   10.2500

In [58]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

In [61]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [62]:
hotel_df.head()

        City Country  Max Temp      Lat       Lng               Hotel Name
0    Peleduy      RU     78.15  59.6289  112.7406          Гостиница «Уют»
8   Xiongyue      CN     78.28  40.1774  122.1228   Samsung Business Hotel
11   College      US     76.95  64.8569 -147.8028  Pike's Waterfront Lodge
13     Aswan      EG     92.80  24.0934   32.9070                Nuba Nile
14    Agadez      NE     85.24  19.7500   10.2500

In [66]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [67]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [68]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))